.breadcrumb{
     padding: 0px 3px !important;
    background: none !important;
    /*border-bottom: 1px solid #5bc0de;
    width: 96%;
    margin-left: 8px;*/
    border-radius:0px;
    margin-bottom:0px;
    }

    .text{
    	border-top:none;
    	border-bottom:none;
    }
    .font{
    	font-weight:bold;
    	font-size: 12px;
        margin: 8px -8px 8px 8px;
    }
    .border1{
    	    border-top: 1px solid #5bc0de;
    	    width: 94%;
             margin-left: 9px;
		    padding-top: 11px;
    }
   .font1{
       vertical-align: middle;
        margin: 189px -14px;
       font-size: 14px;
        padding-top: 21px;
    }
    .font12{
      display:table-cell;
      width:100%;
      font-size:14px;
    }
    .fa-icon{
      display:table-cell;
    }
.colpad1{
    padding:205px 0px;
}
.img1{
  width:100%;
}
a:hover{
    text-decoration: none;
}
.breadcrumb > li + li:before {
   color: #CCCCCC;
   content: "> ";
   padding: 0 5px;
}
@media only screen and (min-width :320px)and (max-width :480px){
.colpad1 {
    padding: 24px 0px;
}
.font1{
    margin: 8px -14px;
    font-size:11px;
}
}
@media only screen and (min-width :360px)and (max-width :640px){
.colpad1 {
    padding: 31px 0px;
}
.font1{
    margin: 18px -14px;
    font-size:11px;
}
}
@media only screen and (min-width :768px)and (max-width :1024px){
.colpad1 {
    padding: 100px 0px;
}
.font1{
    margin: 94px -14px;
    font-size:14px;
}
}
@media only screen and (min-width :800px)and (max-width :1280px){
.colpad1 {
    padding: 109px 0px;
}
.font1{
    margin: 101px -14px;
     font-size:14px;
}
}
@media only screen and (min-width :980px)and (max-width :1280px){
.colpad1 {
    padding: 139px 0px;
}
.font1{
    margin: 132px -14px;
     font-size:14px;
}

}
@media(max-width: 760px){
  .font1{
  margin: 70px -14px;;
  }
  .colpad1 {
    padding: 80px 0px;
}
}
@media(max-width: 480px){
  .font1{
  margin: 35px -14px;;
  }
  .colpad1 {
    padding: 47px 0px;
}
}
@media(max-width: 360px){
  .font1{
  margin: 18px -14px;;
  }
  .colpad1 {
    padding: 30px 0px;
}
}
@media(max-width: 320px){
  .font1{
  margin: 11px -14px;;
  }
.colpad1 {
    padding: 26px 0px;
}
}